header {
    background-color:  #CE2829;
    height:  20vh;
    background-image: url("images/iteration-1-images/logo.svg");
    background-repeat: no-repeat;
    background-position: center
}

.img-logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
